/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */


.navbar {
  background: transparent;
  border-bottom: 0px;
}
.navbar .links {
  background-color: transparent !important;
}
.nav-link {
  color: white !important;
}
.router-link-exact-active {
  color: white !important;
  font-weight: bold !important;
}
.sidebar-button{
  color: white !important;
}
.home{
  padding:0 !important;
}

.home .hero img {
  max-height: none !important;
  margin: 0 !important;
}

.footer{
  background: rgb(84,64,205);
background: linear-gradient(0deg, rgba(84,64,205,1) 38%, rgba(96,212,237,1) 100%);
}

.description{
  display: none;
}
#main-title{
  display: none;
}
p img{
  width: 95%;
}

